.main {
	display: inline flow-root;
	--border-radius: 8px;
	font-size: large;
	margin: 10px;
	border-radius: var(--border-radius);
	font-family: var(--font-mono);
	width: 100%;
}

.main div {
	width: 50%;
	display: block;
}
.main p {
	padding: 5px;
	color: var(--primary);
	width: 50%;
	background-color: var(--accent);
	border-radius: var(--border-radius);
}

.main ul {
	display: block;
}

.main ul li {
	color: red;
}

.main img {
	align-self: flex-start;
	max-width: 25%;
	max-height: 25%;
}
div.images {
	display: inline-flexbox;
	width: 50%;
	float: right;
}
