.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-mono);
  padding-top: 1rem;
  width: 100%;
}

.header {
  display: inherit;
  justify-content: center;
  border-bottom: 5px solid var(--border-rgb);
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: bolder;
}

.description {
  display: inherit;
  align-items: inherit;
  max-width: 50%;
  z-index: 2;
  font-family: var(--font-mono);
  border-bottom: 5px solid var(--border-rgb);
  margin-bottom: 5px;
}


.description a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.description p {
  box-sizing: border-box;
  position: relative;
  align-self: self-start;
  margin: 0.5rem;
  padding: 1rem;
  background-color: rgba(238, 240, 241, 0.5);
  border: 1px solid rgba(172, 175, 175, 0.3);
  border-radius: var(--border-radius);
  font-size: 16px;
  max-width: 33%;
}

.description img {
  align-self: flex-start ;
  border-radius: var(--border-radius);
  position: relative;
  margin: 0.5rem;
  height: auto;
  width: 50%;
  max-width: 300px;
  max-height: 462px;
}


.grid {
  width: var(--max-width);
  min-width: 960px;
  display: table;
  border-spacing: 0.5rem;
  box-sizing: border-box;

}

.grid div{
  box-sizing: inherit;
  display: table-cell;
  padding: 0.5rem 0.7rem;
  border-radius: var(--border-radius);
  background: var(--card-rgb);
  border: 5px solid var(--card-border-rgb);
  transition: 200ms;
}

.grid div:hover{
  background: var(--card-rgb-hover);
  border: 5px solid var(--card-border-rgb-hover);
}

.grid h2 {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.grid p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  max-width: 34ch;
  word-wrap: break-word;
}
