.header {
	margin-top: 90px;
	width: 550px;
	background-color: var(--secondary);
	border: var(--secondary);
	border-right-width: 20px;
	border-right-style: solid;
	border-bottom-right-radius: 8px;
	border-top-right-radius: 8px;
	height: 40px;
}

.header span {
	margin-left: auto;
	margin-right: 0;
}

img.image {
	position: fixed;
	left: 80vw;
	top: 10vh;
	margin-right: auto;
	margin-left: 0;
	outline: 5px solid var(--primary);
	border-radius: 8px;
}

@media (orientation:portrait) {}